:root {
  --green: hsl(75, 94%, 57%);
  --white: hsL(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  --spacing: 1.6em;
  --small-spacing: 0.4em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 

Weights: 400, 600, 700 

*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--grey-900);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

main {
  padding: var(--small-spacing) var(--spacing);
  width: 350px;
  background-color: var(--grey-800);
  text-align: center;
  color: var(--white);
  border-radius: 0.8em;
}

.profile-pic {
  margin: var(--spacing) 0;
  width: 100px;
  border-radius: 50%;
}

.profile-name {
  margin-bottom: var(--small-spacing);
  font-size: 1.6em;
  font-weight: 600;
}

.profile-location {
  margin-bottom: var(--spacing);
  font-weight: 600;
  color: var(--green);
}

.profile-bio {
  margin-bottom: var(--spacing);
}

button {
  padding: 1em;
  margin-bottom: 1.2em;
  border: none;
  width: 100%;
  background-color: var(--grey-700);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: var(--white);
  border-radius: 0.4rem;
}

/* Media Queries */
